In [1]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
df_pyspark=spark.read.csv('Orders.csv',header=True, inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- OrderStatus: string (nullable = true)
 |-- ShipAddress: string (nullable = true)
 |-- BillAddress: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- CreationTime: timestamp (nullable = true)

In [9]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [10]:
## drop the columns
df_pyspark.drop('ProductID') #.show()

DataFrame[OrderID: int, CustomerID: int, SalesPersonID: int, OrderDate: date, ShipDate: date, OrderStatus: string, ShipAddress: string, BillAddress: string, Quantity: int, Sales: int, CreationTime: timestamp]

In [14]:
df_pyspark.na.drop().show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [15]:
## drop the null value
df_pyspark.na.drop()#.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [16]:
df_pyspark.na.drop(how="all")#.show(), the original table doesnt have the all null value

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [17]:
df_pyspark.na.drop(how="any",thresh=2).show() #thresh=2. at least two non-null value present, no data got delete, beacuse every row has at least non-null value

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [18]:
df_pyspark.na.drop(how="any",thresh=11).show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [19]:
df_pyspark.na.drop(how="any", subset=["ShipAddress"]).show()# subset, Drop rows with null and NaN values in the specified columns.

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [20]:
### filling the missing value
df_pyspark.na.fill('missing value', ['ShipAddress', 'BillAddress']).show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|missing vlaue|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|missing vlaue|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|     missing vlaue|missing vlaue|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|missing vlaue|       2|   50|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|missing vlaue|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|missing vlaue|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|     missing vlaue|missing vlaue|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [21]:
from pyspark.ml.feature import Imputer

In [24]:
imputer = Imputer(
    inputCols=['Quantity', 'Sales'],
    outputCols=["{}_imputed".format(c) for c in ['Quantity', 'Sales']]
).setStrategy("median")

In [25]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+----------------+-------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|Quantity_imputed|Sales_imputed|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+----------------+-------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|               1|           10|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|               1|           15|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|               2|           20|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|               2|           60|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|               1|           25|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:57|               2|           50|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|               2|           30|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|               3|           90|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|               2|           20|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|               0|           60|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+----------------+-------------+