In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df_pyspark = spark.read.csv('Orders.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2| NULL|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

### filter Operations

In [8]:
### Sales of the people less than or equal to 20
df_pyspark.filter("Sales <= 20").show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [9]:
df_pyspark.filter("Sales <= 20").select(['OrderStatus', 'ShipAddress']).show()

+-----------+------------------+
|OrderStatus|       ShipAddress|
+-----------+------------------+
|  Delivered|9833 Mt. Dias Blv.|
|    Shipped|    250 Race Court|
|  Delivered|      8157 W. Book|
|    Shipped|     3768 Door Way|
+-----------+------------------+

In [12]:
df_pyspark.filter((df_pyspark['Sales']<=20) & 
                  (df_pyspark['Quantity'] <2)).show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [ ]:
df_pyspark.filter(~(df_pyspark['Sales'] <= 20)).show()# NOT condition

+-------+---------+----------+-------------+----------+----------+-----------+-----------------+------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|      ShipAddress| BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+-----------------+------------+--------+-----+-------------------+
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped|5724 Victory Lane|        NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|             NULL|        NULL|       1|   25|2025-02-01 14:02:41|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered| 136 Balboa Court|        NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|   2947 Vine Lane|4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|             NULL|        NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+-----------------+------------+--------+-----+-------------------+