In [2]:
'''
PySpark Dataframe
Reading The Dataset
Checking the Datatypes of the Column(Schema)
Selecting Columns And Indexing
Check Describe option similar to Pandas
Adding Columns
Dropping columns
Renaming 
'''

'\nPySpark Dataframe\nReading The Dataset\nChecking the Datatypes of the Column(Schema)\nSelecting Columns And Indexing\nCheck Describe option similar to Pandas\nAdding Columns\nDropping columns\nRenaming \n'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [5]:
spark

In [6]:
## read the dataset
df_pyspark = spark.read.option('header','true').csv('Orders.csv',inferSchema=True)

In [7]:
### chck the schema
df_pyspark.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- OrderStatus: string (nullable = true)
 |-- ShipAddress: string (nullable = true)
 |-- BillAddress: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- CreationTime: timestamp (nullable = true)

In [8]:

# Using inferSchema=false (default option) will give a dataframe where all columns are strings
df_pyspark=spark.read.csv('Orders.csv', header=True, inferSchema=True)

In [9]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2| NULL|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [10]:
df_pyspark.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SalesPersonID: integer (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- OrderStatus: string (nullable = true)
 |-- ShipAddress: string (nullable = true)
 |-- BillAddress: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- CreationTime: timestamp (nullable = true)

In [11]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [12]:
df_pyspark.columns

['OrderID',
 'ProductID',
 'CustomerID',
 'SalesPersonID',
 'OrderDate',
 'ShipDate',
 'OrderStatus',
 'ShipAddress',
 'BillAddress',
 'Quantity',
 'Sales',
 'CreationTime']

In [13]:
df_pyspark.head(2)

[Row(OrderID=1, ProductID=101, CustomerID=2, SalesPersonID=3, OrderDate=datetime.date(2025, 1, 1), ShipDate=datetime.date(2025, 1, 5), OrderStatus='Delivered', ShipAddress='9833 Mt. Dias Blv.', BillAddress='1226 Shoe St.', Quantity=1, Sales=10, CreationTime=datetime.datetime(2025, 1, 1, 12, 34, 56)),
 Row(OrderID=2, ProductID=102, CustomerID=3, SalesPersonID=3, OrderDate=datetime.date(2025, 1, 5), ShipDate=datetime.date(2025, 1, 10), OrderStatus='Shipped', ShipAddress='250 Race Court', BillAddress=None, Quantity=1, Sales=15, CreationTime=datetime.datetime(2025, 1, 5, 23, 22, 4))]

In [14]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2| NULL|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [15]:
df_pyspark.select('OrderID').show()

+-------+
|OrderID|
+-------+
|      1|
|      2|
|      3|
|      4|
|      5|
|      6|
|      7|
|      8|
|      9|
|     10|
+-------+

In [16]:
df_pyspark.columns

['OrderID',
 'ProductID',
 'CustomerID',
 'SalesPersonID',
 'OrderDate',
 'ShipDate',
 'OrderStatus',
 'ShipAddress',
 'BillAddress',
 'Quantity',
 'Sales',
 'CreationTime']

In [17]:
df_pyspark.select(['ShipDate', 'OrderStatus'])

DataFrame[ShipDate: date, OrderStatus: string]

In [18]:
df_pyspark.select('*').show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2| NULL|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [19]:
df_pyspark.select(df_pyspark.OrderID, (df_pyspark.Sales + 5).alias('New_Sales')).show()

+-------+---------+
|OrderID|New_Sales|
+-------+---------+
|      1|       15|
|      2|       20|
|      3|       25|
|      4|       65|
|      5|       30|
|      6|     NULL|
|      7|       35|
|      8|       95|
|      9|       25|
|     10|       65|
+-------+---------+

In [20]:
df_pyspark.dtypes

[('OrderID', 'int'),
 ('ProductID', 'int'),
 ('CustomerID', 'int'),
 ('SalesPersonID', 'int'),
 ('OrderDate', 'date'),
 ('ShipDate', 'date'),
 ('OrderStatus', 'string'),
 ('ShipAddress', 'string'),
 ('BillAddress', 'string'),
 ('Quantity', 'int'),
 ('Sales', 'int'),
 ('CreationTime', 'timestamp')]

In [21]:
df_pyspark.describe().show()

+-------+------------------+------------------+------------------+------------------+-----------+------------------+-------------+------------------+------------------+
|summary|           OrderID|         ProductID|        CustomerID|     SalesPersonID|OrderStatus|       ShipAddress|  BillAddress|          Quantity|             Sales|
+-------+------------------+------------------+------------------+------------------+-----------+------------------+-------------+------------------+------------------+
|  count|                10|                10|                10|                10|         10|                 8|            3|                10|                 9|
|   mean|               5.5|             102.3|               2.2|               3.6|       NULL|              NULL|         NULL|               1.6|36.666666666666664|
| stddev|3.0276503540974917|1.4944341180973266|1.0327955589886444|1.3498971154211057|       NULL|              NULL|         NULL|0.8432740427115678| 27.04163456597992|
|    min|                 1|               101|                 1|                 1|  Delivered|  136 Balboa Court|1226 Shoe St.|                 0|                10|
|    max|                10|               105|                 4|                 5|    Shipped|9833 Mt. Dias Blv.| 8157 W. Book|                 3|                90|
+-------+------------------+------------------+------------------+------------------+-----------+------------------+-------------+------------------+------------------+

In [22]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('After Sales', df_pyspark['Sales'] + 10)

In [23]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+-----------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|After Sales|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+-----------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|         20|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|         25|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|         30|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|         70|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|         35|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2| NULL|2025-02-06 15:34:57|       NULL|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|         40|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|        100|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|         30|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|         70|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+-----------+

In [24]:
df_pyspark = df_pyspark.drop('After Sales')

In [25]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|       CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:56|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:04|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:08|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:33|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:41|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2| NULL|2025-02-06 15:34:57|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:01|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:22|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:04|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:15|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+-------------------+

In [26]:
### Rename the columns
df_pyspark = df_pyspark.withColumnRenamed('OrderID', 'Order_id')