In [1]:
import pyspark

In [3]:
import pandas as pd
type(pd.read_csv('Orders.csv'))

pandas.core.frame.DataFrame

In [4]:
from pyspark.sql import SparkSession

In [ ]:
# Gets an existing SparkSession or, if there is no existing one, 
# creates a new one based on the options set in this builder.
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('Orders.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [9]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+--------------------+
|    _c0|      _c1|       _c2|          _c3|       _c4|       _c5|        _c6|               _c7|          _c8|     _c9| _c10|                _c11|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+--------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|        CreationTime|
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:...|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:...|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:...|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:...|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:...|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:...|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:...|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:...|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:...|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:...|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+--------------------+

In [14]:
df_pyspark = spark.read.option('header','true').csv('Orders.csv')

In [15]:
df_pyspark.show()

+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+--------------------+
|OrderID|ProductID|CustomerID|SalesPersonID| OrderDate|  ShipDate|OrderStatus|       ShipAddress|  BillAddress|Quantity|Sales|        CreationTime|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+--------------------+
|      1|      101|         2|            3|2025-01-01|2025-01-05|  Delivered|9833 Mt. Dias Blv.|1226 Shoe St.|       1|   10|2025-01-01 12:34:...|
|      2|      102|         3|            3|2025-01-05|2025-01-10|    Shipped|    250 Race Court|         NULL|       1|   15|2025-01-05 23:22:...|
|      3|      101|         1|            5|2025-01-10|2025-01-25|  Delivered|      8157 W. Book| 8157 W. Book|       2|   20|2025-01-10 18:24:...|
|      4|      105|         1|            3|2025-01-20|2025-01-25|    Shipped| 5724 Victory Lane|         NULL|       2|   60|2025-01-20 05:50:...|
|      5|      104|         2|            5|2025-02-01|2025-02-05|  Delivered|              NULL|         NULL|       1|   25|2025-02-01 14:02:...|
|      6|      104|         3|            5|2025-02-05|2025-02-10|  Delivered|  1792 Belmont Rd.|         NULL|       2|   50|2025-02-06 15:34:...|
|      7|      102|         1|            1|2025-02-15|2025-02-27|  Delivered|  136 Balboa Court|         NULL|       2|   30|2025-02-16 06:22:...|
|      8|      101|         4|            3|2025-02-18|2025-02-27|    Shipped|    2947 Vine Lane| 4311 Clay Rd|       3|   90|2025-02-18 10:45:...|
|      9|      101|         2|            3|2025-03-10|2025-03-15|    Shipped|     3768 Door Way|         NULL|       2|   20|2025-03-10 12:59:...|
|     10|      102|         3|            5|2025-03-15|2025-03-20|    Shipped|              NULL|         NULL|       0|   60|2025-03-16 23:25:...|
+-------+---------+----------+-------------+----------+----------+-----------+------------------+-------------+--------+-----+--------------------+

In [16]:
df_pyspark.head(3)

[Row(OrderID='1', ProductID='101', CustomerID='2', SalesPersonID='3', OrderDate='2025-01-01', ShipDate='2025-01-05', OrderStatus='Delivered', ShipAddress='9833 Mt. Dias Blv.', BillAddress='1226 Shoe St.', Quantity='1', Sales='10', CreationTime='2025-01-01 12:34:56.0000000'),
 Row(OrderID='2', ProductID='102', CustomerID='3', SalesPersonID='3', OrderDate='2025-01-05', ShipDate='2025-01-10', OrderStatus='Shipped', ShipAddress='250 Race Court', BillAddress=None, Quantity='1', Sales='15', CreationTime='2025-01-05 23:22:04.0000000'),
 Row(OrderID='3', ProductID='101', CustomerID='1', SalesPersonID='5', OrderDate='2025-01-10', ShipDate='2025-01-25', OrderStatus='Delivered', ShipAddress='8157 W. Book', BillAddress='8157 W. Book', Quantity='2', Sales='20', CreationTime='2025-01-10 18:24:08.0000000')]

In [17]:
df_pyspark.printSchema()

root
 |-- OrderID: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- SalesPersonID: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- ShipDate: string (nullable = true)
 |-- OrderStatus: string (nullable = true)
 |-- ShipAddress: string (nullable = true)
 |-- BillAddress: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- CreationTime: string (nullable = true)